#search{
	margin-top: 50px;
}
#search .search-shop{
	float: left;
	font-size: 28px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #a988d0;
}
#search .search-con{
	float: left;
	background: url(../img/search.png) no-repeat 0 0;
	width: 676px;
	height: 39px;
	margin-left: 100px;
}
.search-con .search-tip{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 11px;
	margin-left: 20px;
	background: url(../img/search.png)no-repeat 0 -44px;
}
.search-con input{
	width: 528px;
	height: 35px;
	margin-top: 2px;
	margin-left: 2px;
	background: transparent;
	font-family: "微软雅黑";
	font-size: 16px;
	border: none;
	outline: none;
	text-indent: 10px;
	color: #3cd2ad;
}
.search-con .sousuo{
	float: right;
	width: 110px;
	height: 39px;
	line-height: 39px;
	color: #fff;
	font-family: "微软雅黑";
	text-align: center;
	cursor: pointer;
	background: #a988d0;
}
.search-con .focus{
	color: #000;
}
#container{
	margin-top: 150px;
	background: #f3f3f3;
	/*min-height: 2000px;*/
	/*background: #f3f3f3;*/
}
#container .product{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	width: 218px;
	height: 380px;
	border: 1px solid #c7e1fe;
}
.product img{
	width: 218px;
	height: 218px;
}
.product p{
	margin-left: 6px;
	line-height: 25px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.product a{
	color: #000;
}


